<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97b678">  <td>18/03/01 10:02:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClassConfiguration.openBrowser(java.lang.String)[pri:0, instance:TestScriptRepository.TestBookMyFlight@27efef64]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@667026744</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>18/03/01 10:02:29</td>   <td>4990</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBookMyFlight.VerifyBookingScenarios()[pri:0, instance:TestScriptRepository.TestBookMyFlight@27efef64]">VerifyBookingScenarios</td> 
  <td>main@667026744</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>18/03/01 10:03:06</td>   <td>42413</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClassConfiguration.closeBrowser()[pri:0, instance:TestScriptRepository.TestBookMyFlight@27efef64]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@667026744</td>   <td></td> </tr>
</table>
